# Ejemplo de configuración (Copia este archivo a .env y pon tus valores reales)
DB_HOST=tu_ip_del_servidor
DB_USER=tu_usuario
DB_PASS=tu_password
DB_NAME=tu_base_de_datos
GEMINI_API_KEY=Aqui pon tu API KEY
